/Color.class
/Help.class
/Home.class
/Kick.class
/Mute.class
/Rank.class
/Speed.class
/Teleport.class
/Whisper.class
/Teleport$1.class
/Fly.class
/Command.class
/Cmd.class
/Spawn.class
/Gamemode.class
/SetHome.class
/DelHome.class
/Invsee.class
/Back.class
/Tpa.class
/Tpa$1.class
/Tpa$2.class
/Butcher.class
